*{
    font-family:'Mapo한아름';
}
body{
    background-color: gainsboro;

    display:flex;
    align-items: center;
    justify-content: center;
}
.content{
    background-color: white;

    display:flex;
    flex-direction: column;
    border:1px dashed darkgrey;
    padding:50px;
    width:80%;
    min-width: 300px;
}
.main_menu{
    list-style-type: none;
    display:flex;
    padding:0;
}
.main_menu li{
    flex-basis:100px;
    flex-grow:1;
    text-align: center;
    background-color: powderblue;
}
.main_menu li:hover:not(.active), footer>a:hover{
    text-decoration: none;
    background-color: black;
    color:white;
    font-weight: bold;
    
}

.bodies{
    display: flex;
}
.directory{
    display:flex;
    border-right:3px solid white;
    background-color: powderblue;
    flex-grow:0;
    max-width: fit-content;
    padding-right:30px;
}
.directory li:hover{
    text-decoration: underline;
    font-weight: bold;
}
.cols{
    flex-grow:1;
    background-color: powderblue;
    padding:1rem;
}
.homelink{
    text-align: center;
    border-top:3px solid white;
    background-color: powderblue;
}
.bodies>div{
    flex-basis:13rem;
}
a:link,a:visited{
    text-decoration: none;
    color:black;
}
footer>a{
    display:block;
}
footer{
    flex-basis:auto;
}