*{
    font-family: 'Raleway' sans-serif;
}
a:link,a:visited{
    text-decoration: none;
    color:black;
}

/* FIXED MENU BAR */
.fixed_header{
    position:fixed;
    background-color: whitesmoke;
    width:100%;
    min-width: fit-content;
    top:0;
    left:0;
    z-index: 1000;
}
.fixed_menu{
    display: flex;
    border-bottom: 1px solid grey;
    align-items:center;
    height:fit-content;
}
.fixed_menu div{
    min-width: fit-content;
    padding-left:60px;
    padding-right:5px;
}
.fixed_menu>div>h1{
    font-size:24px;
    margin:0;
}
.fixed_menu>div>p{
    margin:0;
    position:relative;
    text-align:center;
    letter-spacing: 5px;
    font-size:12px;

}
.fixed_menu nav{
    flex-basis:100%;
}
.fixed_nav a:hover{
    font-weight: bold;
}
.fixed_ul{
    /* background-color: tomato; */
    list-style-type: none;
    display: flex;
    flex-grow:1;
    padding-left:30px;
}
.fixed_ul div{
    flex-grow:1;
    flex-shrink: 1;
    padding:0
}
.fixed_ul li{
    padding:5px 10px;
    flex-basis: 100px;
    flex-grow:0;
    text-align: center;
}



/* CONTENT BOX */
.content_wrapper{
    padding-top:56px;
    width:100%;
    text-align:center;
}
.content{
    background-color: white;
    display:inline-block;
    flex-direction: column;
    justify-content: center;
    /* border:1px dashed grey; */
    width:1000px;
    min-width: 1000px;
    position:relative;
    box-shadow:0px 0px 50px gainsboro;
}

.bodies{
    display: flex;
    text-align:left;
}
.directory{
    display:flex;
    border-right:2px solid grey;
    border-bottom:1px solid grey;
    margin-right:-1px;
    flex-grow:0;
    min-width: fit-content;
    flex-direction: column;
}
.directory_now{
    background-color:gainsboro;
    text-align: center;
    font-size:26px;
    padding:20px 60px;
}
.directory li:hover{
    text-decoration: underline;
    font-weight: bold;
}
.cols{
    flex-grow:1;
    padding:30px;
    padding-top:40px;

    border-left:1px solid grey;
    border-bottom:1px solid grey;
}
.heading{
    /* background-color: powderblue; */
    padding-bottom: 10px;
    border-bottom:1px solid grey;
    text-align: center;
}
.heading>h1{
    margin:0;
}
.heading>p{
    margin-top:10px;
    margin-bottom: 15px;
    color:grey;
    font-size:13px;
}


footer{
    margin-top:10px;
    flex-basis:auto;
    font-size: 13px;
    color:grey;
    margin-bottom: 20px;
}