*{
    font-family: 'Raleway' sans-serif;
}

/* FIXED MENU BAR */
.fixed_header{
    position:fixed;
    background-color: white;
    width:100%;
    min-width: fit-content;
    top:0;
    left:0;
}
.fixed_menu{
    display: flex;
    border-bottom: 1px solid grey;
    align-items:center;
    height:fit-content;
}
.fixed_menu h1{
    min-width: fit-content;
    font-size:24px;
    padding-left:60px;
    padding-right:5px;
}
.fixed_menu nav{
    width:100%;
}
.fixed_nav a:hover{
    font-weight: bold;
}
.fixed_ul{
    /* background-color: tomato; */
    list-style-type: none;
    display: flex;
    flex-grow:1;
}
.fixed_ul div{
    flex-grow:1;
}
.fixed_ul li{
    padding:5px 10px;
    flex-basis: 100px;
    text-align: center;
    display:inline-block;
    text-align: center;
    position:relative;
}
.fixed_ul>li:hover ul{
    display:block;
}
.fixed_ul>li>ul{
    list-style-type:none;
    /* background-color: powderblue; */
    text-align: center;
    position:absolute;
    padding-top:20px;
    left:-37px;
    display:none;
    width:100%;
}
.fixed_ul>li>ul>li{
    padding:15px 10px;
    border:1px solid grey;
    background-color: whitesmoke;
    width:60%;
}


/* CONTENT BOX */
.content_wrapper{
    padding-top:80px;
    display:flex;
    justify-content: center;
}
.content{
    background-color: white;
    display:flex;
    flex-direction: column;
    /* border:1px dashed grey; */
    width:80%;
    min-width: 800px;
}

.bodies{
    display: flex;
}
.directory{
    display:flex;
    border-right:3px solid white;
    background-color: powderblue;
    flex-grow:0;
    min-width: fit-content;
    padding-right:50px;
}
.directory li:hover{
    text-decoration: underline;
    font-weight: bold;
}
.cols{
    flex-grow:1;
    background-color: powderblue;
    padding:1rem;
}
.homelink{
    text-align: center;
    border-top:3px solid white;
    background-color: powderblue;
}
a:link,a:visited{
    text-decoration: none;
    color:black;
}
footer>a{
    display:block;
}
footer{
    margin-top:10px;
    flex-basis:auto;
}